<section class="container-fluid main-container secondary-page-container">
  <section class="row-fluid secondary-page-row services-fluid work-fluid">

    <section class="row-fluid outstanding-container">
      <section class="default-inner-container col-xs-24 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6">
        <section class="inner-text">
          <img ng-src="src/assets/img/brand/fadeit_logo_full.svg" alt="{{'SEO_LOGO_ALT' | translate}}" class="secondary-page-logo" />
          <p class="regular-text" translate>
            WORK_SUMMARY
          </p>
        </section>
      </section>
    </section>

    <section class="default-inner-container">
      <section class="row-fluid" ng-if="!vm.projects">
        <h3 class="col-xs-24 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" translate>WORK_PROJECT_ERROR</h3>
      </section>

      <section class="col-xs-24 col-lg-18 col-lg-offset-3 col-xl-16 col-xl-offset-4 col-xxl-12 col-xxl-offset-6">
        <section class="row-fluid table-fluid cover-fluid our-work-row fadeit-animate animated fadeInUp" data-wow-delay="1s" data-wow-offset="100" ng-repeat="project in vm.projects">
          <a href ui-sref="projects({projectId: project.id})">
            <span class="col-xs-24 col-md-16 single-project-cover" data-ng-style="{'background': project.color.coverBackground}">
              <img ng-src="/src/assets/img/projects/{{project.id}}/{{project.images.cover}}" alt="{{project.title}} project - fadeit ApS, software development company" />
            </span>

            <span class="col-xs-24 col-md-8 single-project-intro" data-ng-style="{'background': project.color.base, 'color': project.color.text}">
              <h3 translate>{{project.title}}</h3>
              <p class="regular-text" data-ng-style="{'color': project.color.text}" translate>{{project.shortDescription}}</p>
              <p class="read-more">
                <span translate>WORK_PROJECT_READ_MORE</span> <i class="fa fa-chevron-circle-right"></i>
              </p>
            </span>
          </a>
        </section>
      </section> <!--end col-*-->
    </section><!-- end default-inner-container-->

  </section>
</section>
