<section class="container-fluid main-container secondary-page-container">
  <section class="row-fluid secondary-page-row services-fluid">

    <section class="row-fluid outstanding-container">
      <section class="default-inner-container col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6">
        <section class="inner-text">
          <img ng-src="src/assets/img/brand/fadeit_logo_full.svg" alt="{{'SEO_LOGO_ALT' | translate}}" class="secondary-page-logo" />
          <p class="regular-text" translate>
            EXPERTISE_SUMMARY
          </p>
        </section>
      </section>
    </section>

    <section class="default-inner-container">

      <section ng-repeat="expertise in vm.expertiseList track by $index" scroll-on-finish="{{vm.tech}}" class="row-fluid expertise-row">
        <section ng-if="activeLang === 'en'" id="{{expertise.uisref.en}}" ng-class="{'active-row': expertise.uisref.en === vm.tech}">
          <section itemscope itemtype="http://schema.org/Product" class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6">
            <a ui-sref="app.tech({tech: expertise.uisref.en, lang: 'en'})">
              <h2><span itemprop="name" translate>{{::expertise.title}}</span><i class="fa fa-{{expertise.iconClass}}"></i></h2>
            </a>
            <p itemprop="description" ng-if="vm.tech === expertise.uisref.en" class="regular-text visible" translate>{{::expertise.description}}</p>
          </section>
        </section>
        <section ng-if="activeLang === 'da'" id="{{expertise.uisref.da}}" ng-class="{'active-row': expertise.uisref.da === vm.tech}">
          <section itemscope itemtype="http://schema.org/Product" class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6">
            <a ui-sref="app.tech({tech: expertise.uisref.da, lang: 'da'})">
              <h2><span itemprop="name" translate>{{::expertise.title}}</span><i class="fa fa-{{expertise.iconClass}}"></i></h2>
            </a>
            <p itemprop="description" ng-if="vm.tech === expertise.uisref.da" class="regular-text visible" translate>{{::expertise.description}}</p>
          </section>
        </section>
      </section>

      <section class="row-fluid extras-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6">
          <small translate translate-value-toolbox="<a href='/toolbox'>{{'NAV_TOOLBOX' | translate}}</a>">
            EXPERTISE_TOOLBOX_LINK
          </small>
        </section>
      </section>
    </section>

    <reload-wow></reload-wow>
  </section>
</section>
