<section class="container-fluid main-container secondary-page-container">
  <section class="row-fluid secondary-page-row services-fluid">

    <section class="row-fluid outstanding-container">
      <section class="default-inner-container col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6">
        <section class="inner-text">
          <img ng-src="src/assets/img/brand/fadeit_logo_full.svg" alt="{{'SEO_LOGO_ALT' | translate}}" class="secondary-page-logo" />
          <p class="regular-text" translate>
            EXPERTISE_SUMMARY
          </p>
        </section>
      </section>
    </section>

    <section class="default-inner-container">
      <a ui-sref="app.tech({tech: 'drupal_development', lang: activeLang})" class="row-fluid expertise-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" collapsable>
          <h2>Drupal <i class="fa fa-drupal"></i></h2>
          <p ng-if="vm.tech == 'drupal_development'" class="regular-text visible" translate>
            EXPERTISE_DRUPAL_DEVELOPMENT
          </p>
        </section>
      </a>
      <a ui-sref="app.tech({tech: 'python_development', lang: activeLang})" class="row-fluid expertise-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" collapsable>
          <h2>Python + Flask <i class="fa fa-server"></i></h2>
          <p ng-if="vm.tech == 'python_development'" class="regular-text visible" translate>
            EXPERTISE_PYTHON_DEVELOPMENT
          </p>
        </section>
      </a>
      <a ui-sref="app.tech({tech: 'angularjs_development', lang: activeLang})" class="row-fluid expertise-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" collapsable>
          <h2>AngularJS <i class="fa fa-code"></i></h2>
          <p ng-if="vm.tech == 'angularjs_development'" class="regular-text visible" translate>
            EXPERTISE_ANGULARJS_DEVELOPMENT
          </p>
        </section>
      </a>
      <a ui-sref="app.tech({tech: 'it_automation', lang: activeLang})" class="row-fluid expertise-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" collapsable>
          <h2><span translate>EXPERTISE_IT_AUTOMATION_TITLE</span> <i class="fa fa-tachometer"></i></h2>
          <p ng-if="vm.tech == 'it_automation'" class="regular-text visible" translate>
            EXPERTISE_IT_AUTOMATION
          </p>
        </section>
      </a>
      <a ui-sref="app.tech({tech: 'experience_design', lang: activeLang})" class="row-fluid expertise-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" collapsable>
          <h2><span translate>EXPERTISE_EXPERIENCE_DESIGN_TITLE</span> <i class="fa fa-paint-brush"></i></h2>
          <p ng-if="vm.tech == 'experience_design'" class="regular-text visible" translate>
            EXPERTISE_EXPERIENCE_DESIGN
          </p>
        </section>
      </a>
      <a ui-sref="app.tech({tech: 'ckan_development', lang: activeLang})" class="row-fluid expertise-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" collapsable>
          <h2><span translate>EXPERTISE_OPEN_DATA_TITLE</span> <i class="fa fa-database"></i></h2>
          <p ng-if="vm.tech == 'ckan_development'" class="regular-text visible" translate>
            EXPERTISE_CKAN_DEVELOPMENT
          </p>
        </section>
      </a>
      <a ui-sref="app.tech({tech: 'nodejs_development', lang: activeLang})" class="row-fluid expertise-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" collapsable>
          <h2>NodeJS <i class="fa fa-coffee"></i></h2>
          <p ng-if="vm.tech == 'nodejs_development'" class="regular-text visible" translate>
            EXPERTISE_NODEJS_DEVELOPMENT
          </p>
        </section>
      </a>
      <a ui-sref="app.tech({tech: 'web_crawling', lang: activeLang})" class="row-fluid expertise-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" collapsable>
          <h2><span translate>EXPERTISE_WEB_CRAWLING_TITLE</span> <i class="fa fa-globe"></i></h2>
          <p ng-if="vm.tech == 'web_crawling'" class="regular-text visible" translate>
            EXPERTISE_WEB_CRAWLING
          </p>
        </section>
      </a>
      <a ui-sref="app.tech({tech: 'backend_development', lang: activeLang})" class="row-fluid expertise-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" collapsable>
          <h2><span translate>EXPERTISE_BACKEND_TITLE</span><i class="fa fa-terminal"></i></h2>
          <p ng-if="vm.tech == 'backend_development'" class="regular-text visible" translate>
            EXPERTISE_BACKEND_DEVELOPMENT
          </p>
        </section>
      </a>

      <section class="row-fluid extras-row">
        <section class="expertise-inner col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6">
          <small translate translate-value-toolbox="<a href='/toolbox'>{{'NAV_TOOLBOX' | translate}}</a>">
            EXPERTISE_TOOLBOX_LINK
          </small>
        </section>
      </section>
    </section>

    <reload-wow></reload-wow>
  </section>
</section>
