<section class="container-fluid main-container secondary-page-container">
  <section class="row-fluid secondary-page-row project-fluid">
    <section class="outstanding-container row-fluid binary-container" data-ng-if="vm.project.error">
      <section class="default-inner-container col-xs-24 col-sm-18 col-sm-offset-3 col-xl-12 col-xl-offset-6">
        <section class="inner-text">
          <img ng-src="/src/assets/img/brand/fadeit_logo_gray.svg" alt="fadeit logo" class="secondary-page-logo" />
          <p class="regular-text">
            The project description for <u>{{vm.requestUrl}}</u> is still being put together by one of our developers. He promised us a preview and he did not disappoint when asked to deliver: <br/><br/><br/><br/>

            <span class="binary">
            0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 1 1 0 0
            </span>
          </p>
        </section>
      </section>
    </section>

    <section class="row-fluid visible-row final-row" data-ng-if="vm.project.error">
      <section class="col-xs-24 col-sm-18 col-sm-offset-3 col-xl-12 col-xl-offset-6">
        <figure class="image-container clearfix img-penguin">
          <span class="rounded-border">
            <img ng-src="/src/assets/img/icons/fadeit_penguin.svg" alt="a penguin to cheer you up" class="icon-image" />
          </span>
          <figcaption>
            <h2>Here's a penguin to cheer you up. <br/>(page not found!)</h2>
            We'll do our best to prevent this from happening again.<br/>
            If you are really mad at us, go ahead and send an angry email.<br/><br/>
            We care about your nervous breakdown, so here is <a href="#!/contact">a link</a> where you can rant.
          </figcaption>
        </figure>
      </section>
    </section>

    <section class="default-inner-container col-xs-24 col-sm-18 col-sm-offset-3 col-xl-12 col-xl-offset-6" data-ng-if="!vm.project.error">

      <section class="row-fluid project-intro-fluid">
        <section class="col-xs-24">
          <h3 class="regular-title">{{vm.project.content.shortDescription}}</h3>
          <p class="regular-text project-tags">
            <span class="a-tag" ng-repeat="tag in vm.project.tags">
            {{tag}}
            </span>
          </p>
        </section>
      </section>

      <section class="row-fluid table-fluid cover-fluid">
        <section class="col-xs-24 col-md-16 single-project-cover" data-ng-style="{'background': vm.project.color.coverBackground}">
          <img ng-src="/src/assets/img/projects/{{vm.project.id}}/{{vm.project.images.cover}}" alt="{{vm.project.title}} project" />
        </section>

        <section class="col-xs-24 col-md-8 single-project-intro" data-ng-style="{'background': vm.project.color.base}">
          <h3 data-ng-style="{'color': vm.project.color.text}">
            {{vm.project.content.intro.heading}}
          </h3>
          <p class="regular-text" data-ng-style="{'color': vm.project.color.text}">
            {{vm.project.content.intro.text}}
          </p>
        </section>
      </section>


      <article class="project-details"
      data-ng-style="{'background': vm.project.color.light, 'color': vm.project.color.darkText }">
        <section class="paragraph-fluid clearfix">
          <h3>{{vm.project.content.mainHeading}}</h3>
        </section>

        <section class="paragraph-fluid clearfix"
        data-ng-repeat='text in vm.project.content.paragraphs'
        last-item-watcher>
          <p class="regular-text" data-ng-style="{'color': vm.project.color.darkText}">{{text}}</p>
        </section>
      </article>


      <article class="project-details project-extras" data-ng-if='vm.project.url || vm.project.images.screens'>
        <h3>{{vm.project.images.heading}}</h3>

        <section class="url-fluid clearfix" data-ng-if="vm.project.urls" data-ng-repeat="url in vm.project.urls">
          <p class="regular-text">
            <span class="url-text">{{url.text}}</span>
            <a href="{{url.link}}" target="_blank"
            data-ng-style="{'color': vm.project.color.links}">
              {{url.title}}
            </a>
          </p>
        </section>
      </article>

      <section class="project-screens" data-ng-if="vm.project.images.screens">
        <figure class="project-screen"
        data-ng-repeat="screen in vm.project.images.screens"
        data-ng-style="{'background': vm.project.color.light}"
        last-item-watcher>
          <img data-ng-src="/src/assets/img/projects/{{vm.project.id}}/screens/{{screen.filename}}" alt="{{vm.project.title}} screenshot" data-ng-style="{'border-color': '{{vm.project.color.lightAccent}}'}"/>
          <figcaption data-ng-style="{'color': vm.project.color.darkText}">
            <h3>{{screen.title}}</h3>
            <p class="regular-text">{{screen.desc}}</p>
          </figcaption>
        </figure>
      </section>
    </section>

    <reload-wow></reload-wow>
  </section>
</section>