<footer class="row-fluid footer-fluid" ng-show="!root.toolboxPage">
  <section class="col-xs-24 col-md-6">
    <img src="src/assets/img/brand/fadeit_logo_full.svg" alt="fadeit logo - software development agency" class="fadeit-footer-logo"/>
  </section>
  <section class="col-xs-24 col-md-12">
    <p class="footer-contact">
      <span>Phone 81100200</span> &middot; <a href="mailto:info@fadeit.dk">info@fadeit.dk</a> &middot; Anelystparken 31 D, 8381 Tilst, Aarhus &middot; CVR 35527192
    </p>
  </section>

  <section class="col-xs-24 col-md-6">
    <a href="http://twitter.com/fadeitdk" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/fadeit" class="social-link" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/company/fadeit" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a>
  </section>
  <!--<p>
   © <span ng-bind="::vm.currentDate"></span> fadeit
  </p>-->
</footer>