<section class="container-fluid main-container secondary-page-container" data-ng-controller="AboutController">
	<section class="row-fluid secondary-page-row about-fluid clearfix">

		<section class="outstanding-container clearfix animate wow fadeInDown"
    data-wow-duration="{{anim.base.shortDuration}}"
    data-wow-delay="{{anim.base.delay}}">

			<section class="default-inner-container">
				<section class="inner-text">
					<img ng-src="img/brand/logo_gray.svg" alt="fadeit logo" class="secondary-page-logo" />
					<p class="regular-text">
						We are a software development company that started its voyage in 2013.  Since then we've been busy baking awesome software for companies from Aarhus and Copenhagen.
					</p>
				</section>
			</section>
		</section>

		<section class="default-inner-container">
			<section class="row-fluid clearfix animate wow fadeIn"
      data-wow-delay="{{anim.base.longDelay}}"
      data-wow-duration="{{anim.base.duration}}">

				<section class="col-xs-12 col-sm-12 col-md-9">
					<h3 class="regular-title">Background</h3>
					<p class="regular-text">
            We're a team of hackers, automation freaks and console cowboys who like to work with Open Source software and to apply it in both Open and Commercial projects. Our expertise spans a wide variety of IT subjects such as Internet of Things, Distributed Systems, Open Data, IT Automation, Security, IP Telephony, Front-end design and more. We build beautiful and intelligent Web systems and by doing so aim to contribute to building Web 3.0.

					</p>
				</section>
				<section class="col-xs-12 col-sm-12 col-md-3">
					<figure class="image-container">
            <span class="rounded-border">
						  <img ng-src="img/icons/fadeit_terminal.svg" class="icon-image" alt="fadeit terminal image"/>
            </span>
					</figure>
				</section>
			</section>

			<section class="row-fluid final-row clearfix animate wow fadeIn"
      data-wow-delay="{{anim.base.longDelay}}"
      data-wow-duration="{{anim.base.duration}}">

				<section class="col-xs-12 col-sm-12 col-md-5">
					<figure class="image-container">
						<img ng-src="img/icons/fadeit_structure.svg" alt="fadeit bubbles image"/>
					</figure>
				</section>
				<section class="col-xs-12 col-sm-12 col-md-7">
					<h3 class="regular-title">Our culture</h3>
					<p class="regular-text">
						We invest plenty of time into sending the right message. Here at fadeit, we have a different perspective on work. We want our projects to be enjoyable and rewarding, not only for us, but for you too. We want to grow together and build awesome software that'll make you and us happy for a long, long time.
					</p>
				</section>
			</section>

			<section class="row-fluid visible-row final-row clearfix">
				<section class="col-xs-12">
					<figure class="image-container img-heart">
            <span class="rounded-border"
            data-center="margin-top:-150px;"
            data-top-bottom="margin-top:-200px;"
            data-bottom-top="margin-top:100px;">
  						<img ng-src="img/icons/fadeit_heart_love.svg" class="icon-image" alt="fadeit <3 you"/>
            </span>
					</figure>
				</section>
			</section>
		</section>

		<reload-wow></reload-wow>
	</section>
</section>
