<section class="container-fluid main-container secondary-page-container" data-ng-controller="ContactController">
	<section class="row-fluid secondary-page-row contact-fluid clearfix">
		<section class="outstanding-container clearfix">
			<section class="default-inner-container">
				<section class="inner-text">
					<img ng-src="img/brand/logo_gray.svg" alt="fadeit logo" class="secondary-page-logo" />
					<p class="regular-text">
						Call us: 81100200<br/>
						Email us: lnh@fadeit.dk<br/><br/>
						<b>fadeit ApS</b><br/>
						Industrivej 15, 8550 Ryomgård
					</p>
				</section>
			</section>
		</section>
	</section>


</section>