<section class="container-fluid main-container secondary-page-container" data-ng-controller="ContactController">
	<section class="row-fluid secondary-page-row contact-fluid clearfix">

		<section class="outstanding-container clearfix animate wow fadeInDown"
    data-wow-duration="{{anim.base.shortDuration}}"
    data-wow-delay="{{anim.base.delay}}">

			<section class="default-inner-container">
				<section class="inner-text">
					<img ng-src="img/brand/logo_gray.svg" alt="fadeit logo" class="secondary-page-logo" />
					<p class="regular-text">
						<span class="bold-text">fadeit ApS</span><br/>
            Industrivej 15, 8550 Ryomgård
          </p>
          <p class="regular-text">
            Are you in <span class="bold-text">Aarhus</span>? We're opening an office there early 2015, come say hi!
          </p>
				</section>
			</section>

		</section>

    <section class="default-inner-container">

      <section class="row-fluid clearfix animate wow fadeIn"
      data-wow-delay="{{anim.base.longDelay}}"
      data-wow-duration="{{anim.base.duration}}">

        <section class="col-xs-12 col-sm-12 col-md-2">
          <figure class="image-container">
            <span class="rounded-border">
              <img ng-src="img/icons/fadeit_contact.svg" class="icon-image" alt="fadeit contact image"/>
            </span>
          </figure>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-5 contact-block">
          <h3 class="regular-title">Want to talk about something important?</h3>
          <p class="regular-text">
            <h4>Lars Normark Holmgaard</h4>
            Phone: <span class="bold-text">81100200</span><br/>
            Email: <a href="mailto:lnh@fadeit.dk" target="_blank">lnh@fadeit.dk</a><br/>
          </p>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-5 contact-block">
          <h3 class="regular-title">Say hi or just talk to some of our developers</h3>
          <p class="regular-text">
            <h4>We'll try to reply quickly</h4>
            Justas: <a href="mailto:ja@fadeit.dk" target="_blank">ja@fadeit.dk</a><br/>
            Sander: <a href="mailto:ss@fadeit.dk" target="_blank">ss@fadeit.dk</a><br/>
          </p>
        </section>

      </section>

      <section class="row-fluid final-row social-fluid clearfix animate wow fadeIn"
      data-wow-delay="{{anim.base.longDelay}}"
      data-wow-duration="{{anim.base.duration}}">

        <section class="col-xs-12 col-sm-12 col-md-8">
          <h3 class="regular-title">We're a social butterfly, follow us on the interwebs</h3>
          <p class="regular-text">
            We’d love to chat with you about everything tech.<br/>
            Don't hesitate to ping us and we'll get back to you right away.
          </p>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-4 social-block">
          <span class="icons-container">
            <a href="http://twitter.com/fadeitdk" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/fadeit" class="social-link" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/company/fadeit" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://bitbucket.org/fadeit" class="social-link" target="_blank"><i class="fa fa-bitbucket"></i></a>
            <a href="https://www.facebook.com/fadeitdk" class="social-link" target="_blank"><i class="fa fa-facebook"></i></a>
          </span>
        </section>
      </section>

      <section class="row-fluid visible-row final-row clearfix">
        <section class="col-xs-12">
          <figure class="image-container img-heart">
            <span class="rounded-border"
            data-center="margin-top:-150px;"
            data-top-bottom="margin-top:-200px;"
            data-bottom-top="margin-top:100px;">
              <img ng-src="img/icons/fadeit_butterfly.svg" class="icon-image" alt="fadeit butterfly"/>
            </span>
          </figure>
        </section>
      </section>

    </section>

		<reload-wow></reload-wow>
	</section>
</section>