<section class="container-fluid main-container home-container" data-ng-controller="HomeController">

  <section id="projects">
  	<section class="row-fluid project-fluid">
  		<h1 class="front-title clearfix animate wow fadeInUp"
      data-wow-delay="{{anim.base.delay}}"
      data-wow-duration="{{anim.base.duration}}">We're a dedicated development force.</h1>
  		<h3 class="front-subtitle clearfix animate wow fadeIn"
      data-wow-delay="{{anim.base.longDelay}}"
      data-wow-duration="{{anim.base.duration}}">We build beautiful software &amp; services that make your ideas happen. See some of our stories.</h3>
  	</section>

    <section class="row-fluid project-fluid clearfix" data-ng-include="'modules/core/views/preview-grid.html'"></section>
  </section>
  <!-- end project fluid -->

  <wow-reload></wow-reload>
</section>