<section class="row-fluid home-fluid jumbotron" data-ng-controller="HomeController">  
  <section class="alert alert-info">
    <p>This is the default application prototype home page.</p>
    <small>The data is loaded from the core module: services/core.js</small>
  </section>

  <div class="list-group">
		<input type="text" class="form-control" ng-show="userdata" ng-model="usersearch.$" placeholder="Search all users...">

    <div data-ng-repeat="user in userdata | filter:usersearch" class="list-group-item">
        <small class="list-group-item-text">Registered: {{user.created | date:'medium'}}</small>
        <br/><br/>
        <h4 class="list-group-item-heading">{{user.firstName}} {{user.lastName}}</h4>
        <p class="list-group-item-text"><a target="_blank" href="mailto:{{user.email}}">{{user.email}}</a></p>
        <p class="list-group-item-text">{{user.bio}}</p>
    </div>
	</div>
</section>