<section class="container-fluid main-container" data-ng-controller="HomeController" id="news">
  <nav class="main-menu left-sidebar">
    <section class="transparent-whitebar">
      <a class="menu-anchor newsAction" href="#!" id="news-link">News</a>
    </section>

    <a href="#!" id="logo-link">
      <img ng-src="img/brand/logo_full.svg" alt="fadeit logo" class="fadeit-logo-small"/>
    </a>

    <ul class="menu-link-list">
      <li class="menu-link-item" data-ng-repeat="item in menuItems" data-ng-class="{'active-menu-item': $uiRoute}" ui-route="item.uiRoute">
        <a href="#!/{{item.link}}" class="menu-anchor">
          {{item.title}}
        </a>
      </li>
    </ul>
  </nav>

  <section class="row-fluid news-fluid transparent-always clearfix" id="news-section">
    <header class="logo-news-container col-xs-12">
      <!-- large fadeit logo -->
      <aside class="left-sidebar">
        <a href="#!" class="fadeit-logo-link">
          <img ng-src="img/brand/logo_white.svg" alt="fadeit logo" class="fadeit-logo wow animate fadeInLeft" data-wow-delay="{{anim.header.delay}}" data-wow-duration="{{anim.header.duration}}"/>
        </a>
      </aside>
      <!-- news updates -->
      <section class="time-text-container" data-ng-class="cssClasses.newsClasses">
        <section class="inner-time-text-container">
          <time class="news-relative-time">
            {{news.updateTime}}
          </time>
          <span class="news-text" ng-bind-html="news.text"></span>
        </section>
      </section>
    </header>
  </section>
  <!-- end news-fluid -->

  <section id="projects">
    <section data-ng-init="goToProjects()" class="row-fluid project-fluid clearfix" data-ng-include="'modules/core/views/preview-grid.html'"></section>
  </section>
  <!-- end project fluid -->

  <!-- service fluid out for now
  <section class="row-fluid service-fluid clearfix">
    <section class="half-background"></section>
    <section class="half-background light-green-background"></section>
    <section class="half-background dark-green-background"></section>
    <section class="half-background last-green-background"></section>
  </section>
  <!-- end service-fluid -->

  <!-- abs center dot -->
  <section class="row-fluid dot-fluid clearfix">
    <figure class="center-dot"></figure>
  </section>
</section>