<nav class="main-menu left-sidebar mainSidebar{{directiveTitle}}">
  <section class="transparent-whitebar">
  	<a href="#!" class="go-to-menu max-md" go-to anchor="menu"><i class="fa fa-level-down"></i></a>
    <a class="menu-anchor transparent-always" href="#!" id="news-link" go-to anchor="">News</a>
    <section class="secondary-page-title" data-ng-if="!directiveImage">
      <h2 class="page-title">{{directiveTitle}}</h2>
    </section>
  </section>

  <span id="logo-link" data-ng-if="!directiveTitle">
    <img ng-src="{{directiveImage || ''}}" class="fadeit-logo-small"/>
  </span>

  <ul class="menu-link-list menu{{directiveTitle}}">
    <li class="menu-link-item"
    data-ng-repeat="item in menuItems"
    data-ng-class="{'activeMenu': $uiRoute}"
    ui-route="{{item.uiRoute}}">
      <a href="#!/{{item.link}}" class="menu-anchor main-menu-anchor">
        {{item.title}}
      </a>
    </li>
  </ul>
</nav>

<nav class="mobile-menu footer-nav max-md" id="menu">
	<ul class="mobile-link-list mobileMenu{{directiveTitle}}">
    <li class="mobile-link-item"
    data-ng-repeat="item in menuItems"
    data-ng-class="{'activeMenu': $uiRoute}"
    ui-route="{{item.uiRoute}}">
      <a href="#!/{{item.link}}" class="menu-anchor mobile-menu-anchor">
        {{item.title}}
      </a>
    </li>

    <li class="mobile-link-item">
      <a href="#!" class="menu-anchor mobile-menu-anchor" go-to anchor="">
        Free ride to the top <i class="fa fa-level-up"></i>
      </a>
    </li>

    <li class="mobile-link-item toolbox-home">
      <a href="#!/" class="menu-anchor">
        Back home <i class="fa fa-home"></i>
      </a>
    </li>
  </ul>
</nav>