<nav class="main-menu left-sidebar">
  <section class="transparent-whitebar">
    <a class="menu-anchor newsAction transparent-always" href="#!" id="news-link">News</a>
    <section class="secondary-page-title" data-ng-if="!directiveImage">
      <h2 class="page-title">{{directiveTitle}}</h2>
    </section>
  </section>

  <span id="logo-link" data-ng-if="!directiveTitle">
    <img ng-src="{{directiveImage || ''}}" class="fadeit-logo-small"/>
  </span>

  <ul class="menu-link-list menu-{{directiveTitle}}">
    <li class="menu-link-item"
    data-ng-repeat="item in menuItems"
    data-ng-class="{'activeMenu': $uiRoute}"
    ui-route="{{item.uiRoute}}">
      <a href="#!/{{item.link}}" class="menu-anchor main-menu-anchor">
        {{item.title}}
      </a>
    </li>
  </ul>
</nav>