<article class="project-preview-container clearfix animate wow fadeInDown"
data-wow-delay="0.5s"
data-wow-duration="{{anim.header.durationMedium}}"
data-ng-repeat="project in projectPreviews"
data-ng-class="generateClass(project.activeCover, project.dummy, $index)"
last-item-watcher>
	<!-- Don't do anything for the first project for now
	<a href="#!/project/{{project.id}}" class="project-preview" data-ng-if="$index === 0 && !project.dummy">
		<img data-ng-src='img/projects/{{project.id}}/cover_{{project.activeCover}}@2x.jpg' alt="project.title" class="project-cover-used main-cover"/>

		<span class="project-tags project-tags-{{project.activeCover}}">
			<span class="a-project-tag" data-ng-repeat="tag in project.tags">
				{{tag}}
			</span>
		</span>
	</a>-->

	<a href="#!/project/{{project.id}}" class="project-preview" data-ng-if="!project.dummy && $index !== 0">
		<img data-ng-src='img/projects/{{project.id}}/cover_{{project.activeCover}}@2x.jpg' alt="project.title" class="project-cover-used"/>

		<span class="project-tags project-tags-{{project.activeCover}}">
			<span class="a-project-tag" data-ng-repeat="tag in project.tags">
				{{tag}}
			</span>
		</span>
	</a>

	<figure data-ng-if="project.dummy">
		<img data-ng-src='img/projects/dummy_cover.png' class="project-cover project-preview"/>
	</figure>
</article>