<article class="project-preview-container clearfix animated wow fadeInUp" data-ng-repeat="project in projectPreviews" data-ng-class="generateClass(project.activeCover, project.dummy)" data-wow-delay="{{$index*0.1}}s" data-wow-duration="{{anim.header.duration}}">
	<figure class="project-preview" data-ng-if="!project.dummy">
		<img data-ng-src='img/projects/{{project.id}}/cover_{{project.activeCover}}@2x.png' alt="project.title" class="project-cover size-{{project.activeCover}}"/>
	</figure>
</article>