<article class="project-preview-container clearfix animate wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="{{anim.header.durationMedium}}" data-ng-repeat="project in projectPreviews" data-ng-class="generateClass(project.activeCover, project.dummy)" last-item-watcher>
	<a href="#!/project/{{project.id}}" class="project-preview" data-ng-if="$index === 0 && !project.dummy">
		<img data-ng-src='img/projects/{{project.id}}/cover_{{project.activeCover}}@2x.jpg' alt="project.title" class="project-cover main-cover size-{{project.activeCover}}"/>
	</a>

	<a href="#!/project/{{project.id}}" class="project-preview" data-ng-if="!project.dummy && $index !== 0">
		<img data-ng-src='img/projects/{{project.id}}/cover_{{project.activeCover}}@2x.jpg' alt="project.title" class="project-cover size-{{project.activeCover}}"/>
	</a>

	<figure data-ng-if="project.dummy">
		<img data-ng-src='img/projects/dummy_cover.png' class="project-cover size-{{project.activeCover}} project-preview"/>
	</figure>
</article>