<section class="container-fluid main-container secondary-page-container" data-ng-controller="ServicesController">
	<section class="row-fluid secondary-page-row services-fluid clearfix">
		
		<section class="outstanding-container clearfix animate wow fadeInDown" data-wow-duration="{{anim.base.shortDuration}}" data-wow-delay="{{anim.base.delay}}">
			<section class="default-inner-container">
				<section class="inner-text">
					<img ng-src="img/icons/fadeit_penguin.svg" alt="fadeit logo" class="secondary-page-logo" />
					<p class="regular-text">
						Our services page was destroyed by a pack of wild penguins threating us that they will come back and finish what they started. 
						<br/>
						We are still recovering...
					</p>
				</section>
			</section>
		</section>

		<reload-wow></reload-wow>
	</section>
</section>