<section class="container-fluid main-container secondary-page-container" data-ng-controller="ServicesController">
	<section class="row-fluid secondary-page-row services-fluid clearfix">

    <section class="outstanding-container clearfix animate wow fadeInDown"
    data-wow-duration="{{anim.base.shortDuration}}"
    data-wow-delay="{{anim.base.delay}}">

      <section class="default-inner-container">
        <section class="inner-text">
          <img ng-src="img/brand/logo_blue.svg" alt="fadeit logo" class="secondary-page-logo" />
          <p class="regular-text">
            We're open to collaboration no matter what development project you have in mind. We've been building Open Data Portals, IoT Platforms, Decentralized Systems and much more. Let's talk about your ideas.
          </p>
        </section>
      </section>
    </section>

    <section class="default-inner-container">
      <section class="row-fluid service-one clearfix animate wow fadeIn"
      data-wow-delay="{{anim.base.longDelay}}"
      data-wow-duration="{{anim.base.duration}}">

        <section class="col-xs-12 col-sm-12 col-md-9">
          <h3 class="regular-title">Back-end development</h3>
          <p class="regular-text">
          A project needs a strong foundation and an architecture that is flexible. Our back-ends are easy to deploy and maintain as we make use of IT automation tools such as Docker, Puppet and Vagrant. We build secure and scalable systems using a strong Open Source software foundation. It is our belief that there is no silver bullet in software and thus we offer expertise in a wide variety of technologies.
          </p>
        </section>

        <section class="col-xs-12 col-sm-12 col-md-3">
          <figure class="image-container">
            <span class="rounded-border dot-one">
              <img ng-src="img/icons/fadeit_dot_one.svg" class="icon-image" alt="fadeit service icon"/>
            </span>
          </figure>
        </section>
      </section>

      <section class="row-fluid service-two clearfix animate wow fadeIn"
      data-wow-delay="{{anim.base.longDelay}}"
      data-wow-duration="{{anim.base.duration}}">

        <section class="col-xs-12 col-sm-12 col-md-3">
          <figure class="image-container">
            <span class="rounded-border dot-two">
              <img ng-src="img/icons/fadeit_dot_two.svg" class="icon-image" alt="fadeit service icon"/>
            </span>
          </figure>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-9">
          <h3 class="regular-title">Front-end development</h3>
          <p class="regular-text">
          A strong back-end will be worth way more with a matching front-end. To achieve the best results we employ modern frameworks such as AngularJS and Bootstrap. But what is beauty without smarts? Our apps are not just pretty but also reliable- testing is really important to us and front-ends are not an exception.
          </p>
        </section>
      </section>

      <section class="row-fluid service-three clearfix animate wow fadeIn"
      data-wow-delay="{{anim.base.longDelay}}"
      data-wow-duration="{{anim.base.duration}}">

        <section class="col-xs-12 col-sm-12 col-md-9">
          <h3 class="regular-title">Mobile development</h3>
          <p class="regular-text">
            We can develop mobile applications on top of our reliable back-ends. We'll be excited to create iOS or Android apps for projects that we see have great potential.
          </p>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-3">
          <figure class="image-container">
            <span class="rounded-border dot-three">
              <img ng-src="img/icons/fadeit_dot_three.svg" class="icon-image" alt="fadeit service icon"/>
            </span>
          </figure>
        </section>
      </section>

      <section class="row-fluid service-four final-row clearfix animate wow fadeIn"
      data-wow-delay="{{anim.base.longDelay}}"
      data-wow-duration="{{anim.base.duration}}">

        <section class="col-xs-12 col-sm-12 col-md-3">
          <figure class="image-container">
            <span class="rounded-border dot-four">
              <img ng-src="img/icons/fadeit_dot_four.svg" class="icon-image" alt="fadeit service icon"/>
            </span>
          </figure>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-9">
          <h3 class="regular-title">Experience design</h3>
          <p class="regular-text">
            Design is at the core of our products. We want to develop modern software with intuitive interfaces that are a joy to use. We'll be happy to develop concepts together, responsive interfaces, mobile designs or even help with your brand image.
          </p>
        </section>
      </section>

      <section class="row-fluid visible-row final-row clearfix">
        <section class="col-xs-12">
          <figure class="image-container img-heart">
            <span class="rounded-border"
            data-center="margin-top:-150px;"
            data-top-bottom="margin-top:-200px;"
            data-bottom-top="margin-top:100px;">
              <img ng-src="img/icons/fadeit_heart_love.svg" class="icon-image" alt="fadeit <3 you"/>
            </span>
          </figure>
        </section>
      </section>
    </section>

		<reload-wow></reload-wow>
	</section>
</section>
