<section class="container-fluid main-container secondary-page-container" data-ng-controller="ProjectController">
	<section class="row-fluid secondary-page-row project-fluid clearfix">

		<section class="outstanding-container clearfix animate wow fadeInDown"
		data-wow-duration="{{anim.base.shortDuration}}"
		data-wow-delay="{{anim.base.delay}}"
		data-ng-if="!project">
			<section class="default-inner-container">
				<section class="inner-text">
					<img ng-src="img/brand/logo_gray.svg" alt="fadeit logo" class="secondary-page-logo" />
					<p class="regular-text">
						The project <u>{{projectId}}</u> is still being put together by one of our developers. He promised a preview of what he has so far and we are very excited to share it with you: <br/><br/><br/><br/>

						0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1
					</p>
				</section>
			</section>
		</section>

		<!--<section class="outstanding-container clearfix animate wow fadeIn"
		data-wow-delay="{{anim.base.longDelay}}"
		data-wow-duration="{{anim.base.duration}}"
		data-ng-style="{'background': project.color.base, 'border-bottom': '10px solid {{project.color.accent}}', 'color': project.color.text }"
		data-ng-if="project">
			dansjd
		</section>-->

		<section class="default-inner-container" data-ng-if="project">

			<section class="row-fluid project-intro-fluid clearfix animate wow fadeIn"
			data-wow-delay="{{anim.base.longDelay}}"
			data-wow-duration="{{anim.base.duration}}">
				<section class="col-xs-12 col-sm-12 col-md-12">
					<h3 class="regular-title">{{project.content.shortDescription}}</h3>
					<p class="regular-text project-tags">
						<span class="a-tag" ng-repeat="tag in project.tags">
						{{tag}}
						</span>
					</p>
				</section>
			</section>

			<section class="row-fluid paragraph-fluid clearfix animate wow fadeIn"
			data-wow-delay="{{anim.base.longDelay}}"
			data-wow-duration="{{anim.base.duration}}"
			data-ng-repeat='text in project.content.paragraphs'
			last-item-watcher>
				<section class="col-xs-12 col-sm-12 col-md-12">
					<p class="regular-text">{{text}}</p>
				</section>
			</section>

		</section>

		<reload-wow></reload-wow>
	</section>
</section>