<section class="container-fluid main-container secondary-page-container">
	<section class="row-fluid secondary-page-row apply-fluid clearfix">

		<section class="default-inner-container">
			<section class="row-fluid visible-row project-intro-fluid apply-row clearfix">
				<section class="col-xs-12">
					<h1>Awesome!</h1>
					<p class="regular-text">
						Your application has been submitted and we can't wait to read it. If you forgot something important, just go to <a href="#!/contact">contact</a> and tell us all about it. Otherwise, we'll be get back to you very soon!
					</p>
				</section>
			</section>

			<section class="row-fluid visible-row final-row clearfix">
				<section class="col-xs-12">
					<figure class="image-container clearfix img-heart">
            <span class="rounded-border">
  						<img ng-src="img/icons/fadeit_heart_love.svg" class="icon-image" alt="fadeit <3 you" style="position:relative;"/>
            </span>
					</figure>
				</section>
			</section>

		</section>
	</section>
</section>