<section itemscope itemtype="http://schema.org/BlogPosting" class="container-fluid main-container secondary-page-container">
  <section class="row-fluid secondary-page-row services-fluid">
    <section class="row-fluid outstanding-container blog-error" ng-if="vm.post.error">
      <h3 class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-error">
        <span translate>BLOG_POST_ERROR</span> <i class="fa fa-chain-broken"></i>
      </h3>
    </section>

    <section class="spinner-block" ng-if="!vm.post.id && !vm.post.error">
      <span class="logo">
        <svg version="1.1" id="main_composition" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="31px" viewBox="0 0 199.939 62.871" enable-background="new 0 0 199.939 62.871" xml:space="preserve">
          <g id="logo_without_strokes_1_">
            <g id="f_1_">
              <path fill="#888888" d="M6.776,62.871H0V13.868C0,5.313,5.01,0,13.073,0h5.768v6.78h-5.502c-3.986,0-6.562,2.714-6.562,6.912
                v0.746H18.93v6.781H6.776V62.871z"/>
            </g>
            <g id="a_1_">
              <path fill="#888888" d="M59.061,18.545c-3.769-4.106-8.096-4.106-11.914-4.106H22.098v6.781h26.369
                c2.782,0,4.359,0.309,5.824,2.09c1.338,1.574,1.62,3.587,1.62,4.998v0.836h-20.21c-8.318,0-13.692,5.375-13.692,13.691v6.692
                c0,7.978,5.573,13.343,13.868,13.343H49.26c4.412,0,7.67-1.34,10.259-4.213c2.847-3.175,3.082-6.463,3.082-9.836V28.835
                C62.6,24.694,61.383,21.142,59.061,18.545z M55.82,49.442c0,4.601-1.995,6.649-6.471,6.649H35.701
                c-1.726,0-3.741-0.723-5.167-1.858c-1.483-1.144-1.747-2.272-1.747-4.881v-6.606c0-4.334,2.423-6.822,6.649-6.822H55.82V49.442z"
                />
            </g>
            <g id="d_1_">
              <path fill="#888888" d="M104.507,0.09v14.349H85.619c-9.908,0-15.364,5.24-15.364,14.752v18.93c0,3.653,0.25,7.207,3.258,10.541
                c3.778,4.209,7.823,4.209,12.105,4.209h9.862c13.062,0,15.807-7.828,15.807-14.396V0.09H104.507z M104.507,48.294
                c0,1.93,0,7.797-9.729,7.797h-9.244c-7.076,0-8.498-2.51-8.498-6.562V29.274c0-5.42,2.75-8.055,8.407-8.055h19.064V48.294
                L104.507,48.294z"/>
            </g>
            <g id="e_1_">
              <path fill="#888888" d="M159.71,28.308c0-3.498-0.262-6.908-3.425-10.182c-3.4-3.402-7.286-3.688-10.975-3.688h-11.798
                c-3.137,0-6.423,0.27-9.197,2.225c-3.508,2.451-5.286,6.695-5.286,12.611v18.935c0,12.994,8.398,14.662,15.717,14.662h24.876
                v-6.779h-25.493c-2.436,0-4.42-0.094-6.005-1.279c-2.021-1.464-2.204-3.706-2.27-7.225c-0.002-0.108-0.006-0.223-0.008-0.336
                l33.862-14.863L159.71,28.308L159.71,28.308z M125.809,39.845V28.483c0-5.362,2.247-7.264,8.586-7.264h9.86
                c6.193,0,8.536,1.835,8.585,6.756L125.809,39.845z"/>
            </g>
            <g id="i_2_">
              <rect id="i_3_" x="166.217" y="14.438" fill="#888888" width="6.782" height="48.433"/>
              <path id="i_dot__x28_top_x29__1_" fill="#888888" d="M169.344,8.982c-2.5,0-4.182-2.346-4.182-4.536
                c0-2.139,1.565-4.446,4.095-4.446c2.23,0,4.622,1.752,4.622,4.36C173.879,6.909,171.845,8.982,169.344,8.982z"/>
            </g>
            <polygon id="t_1_" fill="#888888" points="187.438,62.871 180.655,62.871 180.655,0 187.438,0 187.438,14.438 199.94,14.438
              199.94,21.22 187.438,21.22  "/>
          </g>
          </svg>
      </span>
      <span class="fadeit-spinner"></span>
    </section>

    <section class="row-fluid outstanding-container blog-outstanding" style="background-image: url(posts/{{vm.post.id}}/{{vm.post.cover}});" ng-if="!vm.post.error && vm.post.id">
      <section class="default-inner-container col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6">
        <section class="row-fluid single-post blog-row">
          <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-offset-0 col-lg-24 post-description">
            <h2 itemprop="headline" ng-bind="::vm.post.title"></h2>
            <p itemprop="dateCreated" class="post-date">{{::vm.post.date | date: 'd MMMM yyyy, H:m'}}</p>
            <p itemprop="description" class="post-intro" ng-bind="::vm.post.intro"></p>
            <div fb-like></div>
          </section>
        </section>

        <section class="read-post">
          <a du-smooth-scroll href="#post"><i class="fa fa-angle-down"></i></a>
        </section>
      </section>
    </section>

    <section class="default-inner-container" id="post" ng-if="!vm.post.error && vm.post.id">
      <section class="row-fluid post-content-fluid">
        <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 post-heading">
          <p itemprop="author" itemscope itemtype="http://schema.org/Person" class="post-author">
          <a itemprop="url" ng-href="{{::vm.post.author.gplus}}" class="author-name"><span itemprop="name">{{::vm.post.author.name}}</span></a>
            <span itemprop="jobTitle" ng-bind="::vm.post.author.job_title" class="author-title"></span>
            <span class="author-image">
              <img itemprop="image" ng-src="{{::vm.post.author.photo}}" alt="{{::vm.post.author.name}} - {{::vm.post.author.job_title}} at fadeit"/>
            </span>
          </p>
        </section><!--end col-*-->

        <section class="post-content clearfix" ng-repeat="content in ::vm.post.content" ng-switch on="content.type">
          <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-type-p" ng-switch-when="p">
            <p itemprop="text" ng-bind-html="::content.text"></p>
          </section>

          <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-type-h" ng-switch-when="h">
            <section ng-switch on="content.number">
              <h2 itemprop="headline" ng-bind-html="::content.text" ng-switch-when="2"></h2>
              <h3 itemprop="headline" ng-bind-html="::content.text" ng-switch-when="3"></h3>
              <h4 itemprop="headline" ng-bind-html="::content.text" ng-switch-when="4"></h4>
              <h5 itemprop="headline" ng-bind-html="::content.text" ng-switch-when="5"></h5>
              <h6 itemprop="headline" ng-bind-html="::content.text" ng-switch-when="6"></h6>
              <h2 itemprop="headline" ng-bind-html="::content.text" ng-switch-default></h2>
            </section>
          </section>

          <blockquote itemprop="citation" class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-type-quote" ng-switch-when="quote" cite="{{content.ref}}" ng-bind-html="::content.text" ng-class="{'blockquote-reverse': content.reverse}">
          </blockquote>

          <section class="row-fluid outstanding-container blog-type-cover" style="background-image: url({{vm.trustUrl(content.url)}}); min-height:{{content.height}}px;" ng-switch-when="cover">
            <img itemprop="image" class="normal-image" ng-src="{{vm.trustUrl(content.url)}}" alt="{{::content.caption}}"/>
            <p class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6" ng-bind="::content.caption" ng-if="content.caption"></p>
          </section>

          <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-type-img" ng-switch-when="img">
            <a href="{{vm.trustUrl(content.url)}}" target="_blank">
              <img class="blog-img" itemprop="image" ng-src="{{vm.trustUrl(content.url)}}" alt="{{::content.caption}}"/>
            </a>
            <p ng-bind="::content.caption" ng-if="content.caption"></p>
          </section>

          <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-type-video" ng-switch-when="video">
            <section ng-switch on="content.vendor">
              <iframe itemprop="video" width="100%" height="{{content.height}}" ng-src="{{vm.trustUrl(content.url)}}" frameborder="0" allowfullscreen ng-switch-when="youtube"></iframe>
              <iframe itemprop="video" ng-src="{{vm.trustUrl(content.url)}}" width="100%" height="{{content.height}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ng-switch-when="vimeo"></iframe>
              <p ng-bind-html="::content.caption" ng-if="content.caption"></p>
            </section>
          </section>

          <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-type-code" ng-switch-when="code">
            <pre><code itemprop="text" class="language-{{::content.language}}" data-language="{{::content.language}}" code-block="posts/{{::vm.post.id}}/{{::content.file}}"><br/>Loading code...</code></pre>
          </section>

          <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-type-list" ng-switch-when="list">
            <ol>
              <li ng-repeat="item in content.items" ng-bind-html="::item"></li>
            </ol>
          </section>

          <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-type-list" ng-switch-when="unordered-list">
            <ul>
              <li ng-repeat="item in content.items" ng-bind-html="::item"></li>
            </ul>
          </section>

          <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6 blog-type-fake-table" ng-switch-when="fake-table">
            <!-- md-header -->
            <section class="col-xs-24 from-md">
              <h4 itemprop="text" class="col-xs-24 col-md-{{headColumn.size}} fake-table-header" ng-repeat="headColumn in content.header" ng-bind-html="::headColumn.text"></h4>
            </section>

            <section ng-repeat="row in ::content.rows" class="col-xs-24 fake-row">
              <section ng-repeat="column in row.columns" class="col-xs-24 col-md-{{::column.size}} fake-column">
                <!-- Mobile header -->
                <h4 itemprop="text" class="fake-table-header to-md" ng-bind-html="::content.header[$index].text"></h4>

                <section class="post-content clearfix" ng-repeat="columnContent in ::column.content" ng-switch on="columnContent.type">
                  <!-- Title -->
                  <p itemprop="text" class="bold" ng-bind-html="::columnContent.text" ng-switch-when="title"></p>
                  <!-- Text -->
                  <p itemprop="text" ng-bind-html="::columnContent.text" ng-switch-when="p"></p>
                  <!-- Code -->
                  <pre ng-class="{'large': content.largeCode}" ng-switch-when="code"><code itemprop="text" class="language-{{::columnContent.language}}" code-block="posts/{{::vm.post.id}}/{{::columnContent.file}}"><br/>Loading code...</code></pre>
                </section> <!-- post-content -->
              </section> <!-- column -->
            </section> <!-- row -->
          </section> <!-- fake-table -->
        </section>
      </section>

      <footer class="default-inner-container prev-next">
        <section class="col-xs-24 col-md-11 col-md-offset-1 col-lg-4 col-lg-offset-0 col-xl-5 col-xxl-6 fadeit-animate animated fadeInLeft prev">
          <a href ui-sref="blog-posts({postId: vm.previous.id})" class="prev-next-anchor" ng-if="vm.previous">
            <header><i class="fa fa-chevron-left"></i> Previous Post</header>

            <article>
              <p class="title">
                <span>{{vm.previous.title}}</span>
              </p>
              <figure class="post-image" data-ng-style="{'background-image': 'url(posts/{{vm.previous.id}}/{{vm.previous.cover}})'}"></figure>
            </article>
          </a>
        </section>

        <section class="col-xs-24 col-md-11 col-lg-4 col-lg-offset-16 col-xl-5 col-xl-offset-14 col-xxl-6 col-xxl-offset-12 fadeit-animate animated fadeInRight next">
          <a href ui-sref="blog-posts({postId: vm.next.id})" class="prev-next-anchor" ng-if="vm.next">
            <header>Next Post <i class="fa fa-chevron-right"></i></header>

            <article>
              <p class="title">
                <span>{{vm.next.title}}</span>
              </p>
              <figure class="post-image" data-ng-style="{'background-image': 'url(posts/{{vm.next.id}}/{{vm.next.cover}})'}"></figure>
            </article>
          </a>
        </section>
      </footer>

      <section class="default-inner-container">
        <section id="disqus_thread" class="col-xs-24 col-md-22 col-md-offset-1 col-lg-16 col-lg-offset-4 col-xl-14 col-xl-offset-5 col-xxl-12 col-xxl-offset-6"></section>
        <script type="text/javascript">
            var disqus_shortname = 'fadeit';
            var disqus_identifier = window.location.pathname.split("/").pop();

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </section>
    </section><!-- end default-inner-container-->

  </section>
</section>
