/*load fonts*/
@font-face {
  font-family: 'BSLight';
  src: url('../src/fonts/bsl.eot');
  src: url('../src/fonts/bsl.eot?#iefix') format('embedded-opentype'),
       url('../src/fonts/bsl.woff2') format('woff2'),
       url('../src/fonts/bsl.woff') format('woff'),
       url('../src/fonts/bsl.ttf') format('truetype'),
       url('../src/fonts/bsl.svg#bsl') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BSMedium';
  src: url('../src/fonts/bsm.eot');
  src: url('../src/fonts/bsm.eot?#iefix') format('embedded-opentype'),
       url('../src/fonts/bsm.woff2') format('woff2'),
       url('../src/fonts/bsm.woff') format('woff'),
       url('../src/fonts/bsm.ttf') format('truetype'),
       url('../src/fonts/bsm.svg#bsm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BSbook';
  src: url('../src/fonts/bsb.eot');
  src: url('../src/fonts/bsb.eot?#iefix') format('embedded-opentype'),
       url('../src/fonts/bsb.woff2') format('woff2'),
       url('../src/fonts/bsb.woff') format('woff'),
       url('../src/fonts/bsb.ttf') format('truetype'),
       url('../src/fonts/bsb.svg#bsb') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*variables*/
	/*colors - '_c' is for contrast */
	//fadeit
	@col_fadeit:				#0fade1;
	@col_light_green:		#76c9b3;
	@col_dark_green:		#51b964;
	@col_last_green:		#0d9947;

	//neutral colors
	@col_fadeit_c:			#057A91;
	@col_dark_gray:			#212629;
	@col_light_gray:		#F0F0F0;
	@col_text_gray:			#888;
	@w:									#FFFFFF;
	@w_c:								#E7E7E7;
	@b:									#000000;
  @ws:                #F5F5F5;

	//grays - built as a parallel to the logo underline shades
	@col_fadeit_gray:				@w_c;
	@col_light_green_gray:	darken(@w_c, 10%);
	@col_dark_green_gray:		darken(@w_c, 20%);;
	@col_last_green_gray:		darken(@w_c, 30%);;


	/*animation*/
	@animation_time_short:		300ms;
	@animation_time_short_w_delay:		300ms 500ms;
	@animation_time:					500ms;
	@animation_time_medium:		800ms;
	@animation_time_long:			1000ms;
	@animation_time_vlong:		1500ms;
	@transition_default:			ease-in-out;

	/*fonts*/
	@ff_light:		"BSLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
	@ff_default:	"BSBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
	@ff_bold:			"BSMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
	@fa:					'FontAwesome';

	/*font sizes*/
	@fs_h1: 		42px;
	@lh_h1: 		46px;
	@fs_h2:			30px;
	@lh_h2: 		33px;
	@fs_h3: 		28px;
	@lh_h3: 		33px;
	@fs_h4: 		22px;
	@lh_h4: 		26px;
	@fs_h5: 		18px;
	@lh_h5: 		24px;
	@fs_body:		15px;
	@lh_body:		25px;
	@fs_medium: 17px;
	@lh_medium: 28px;
	@fs_small:	13px;
	@lh_small:	18px;

	/*break points*/
	@bp_sm: 767px;
	@bp_md: 991px;
	@bp_lg: 1199px;
	@bp_xxl: 1599px;


	/*other sizes*/
	@bst:	1px solid; //border-size-type
	@header_top:			105px;
	@header_left:			130px;
	@header_news_text_padding: 15px;
	@max_p_width:			680px;
	@max_p_width_xxl: 980px;
	@max_tweet_width: 520px;
	@sidebar_left_width: 300px;
	@logo_width_full:	150px;
	@logo_height_full: @logo_width_full / 2.7027027027;
	@project_fluid_padding_right: 15px;
	@dot_width_height:	60px;
	@dot_base:					5px;
	@dot_border:				(@dot_width_height / 10)*2 + @dot_base;
  @social_icon_width:  40px;

	/*shared with Angular*/
	//home controller
	@projects_offset: 90px; //$scope.projectOffset
	@news_section_height: 300px; //$scope.newsSectionHeight

	/*rwd breakpoints*/
	//to come

	/*methods*/
	.border-box{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.background-size(@size){
		-webkit-background-size: @size;
		-moz-background-size: @size;
		-o-background-size: @size;
		background-size: @size;
	}

	.content-box{
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

	.border-radius(@radius){
		-moz-border-radius: @radius;
		-webkit-border-radius: @radius;
		border-radius: @radius;
	}

	.cover(){
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.animate(@time, @transition){
		-webkit-transition: all @time @transition;
		-moz-transition: all @time @transition;
		-ms-transition: all @time @transition;
		-o-transition: all @time @transition;
		transition: all @time @transition;
	}

	.animation-delay(@time){
		-webkit-animation-delay: @time;
		-moz-animation-delay: @time;
		-o-animation-delay: @time;
		-ms-animation-delay: @time;
		animation-delay: @time;
	}

	.transition-delay(@time){
		-webkit-transition-delay: @time;
		-moz-transition-delay: @time;
		-o-transition-delay: @time;
		-ms-transition-delay: @time;
		transition-delay: @time;
	}

	.no-animation(){
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}

	.dropshadow(@properties){
		-webkit-box-shadow: @properties;
		-moz-box-shadow: @properties;
		box-shadow: @properties;
	}

	.no-select(){
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.select(){
		-webkit-touch-callout: auto;
		-webkit-user-select: auto;
		-khtml-user-select: auto;
		-moz-user-select: auto;
		-ms-user-select: auto;
		user-select: auto;
	}

	.rotate(@degrees){
		-webkit-transform: rotate(@degrees);
		-moz-transform: rotate(@degrees);
		-ms-transform: rotate(@degrees);
		-o-transform: rotate(@degrees);
		transform: rotate(@degrees);
	}

	.translateX(@amount){
		-webkit-transform: translateX(@amount);
		-moz-transform: translateX(@amount);
		-ms-transform: translateX(@amount);
		-o-transform: translateX(@amount);
		transform: translateX(@amount);
	}

	.translateY(@amount){
		-webkit-transform: translateY(@amount);
		-moz-transform: translateY(@amount);
		-ms-transform: translateY(@amount);
		-o-transform: translateY(@amount);
		transform: translateY(@amount);
	}

	.scale(@coeficient){
		transform:scale(@coeficient);
		-ms-transform:scale(@coeficient);
		-moz-transform:scale(@coeficient);
		-webkit-transform:scale(@coeficient);
		-o-transform:scale(@coeficient);
	}

	.hide(){
		display:none;
	}

	.hide-i(){
		display:none!important;
	}

	.show-i(){
		display: inline-block!important;
	}

	.block(){
		display:block;
	}

	.inline(){
		display:inline;
	}

	.inline-block(){
		display:inline-block;
	}

	.fix(){
		position:fixed;
	}

	.abs(){
		position:absolute;
	}

	.rel(){
		position:relative;
	}

	.ta-r(){
		text-align:right;
	}

	.ta-c(){
		text-align:center;
	}

	.ta-l(){
		text-align:left;
	}

	.ta-j(){
		text-align:justify;
	}

	.fl(){
		float:left;
	}

	.fr(){
		float:right;
	}
	/*end methods*/
/*end definitions*/

/*bootstrap overide*/
//adds one more column option from 1600px;
.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
  .rel();
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: @bp_xxl) {
  .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
    .fl();
  }
  .col-xxl-12 {
    width: 100%;
  }
  .col-xxl-11 {
    width: 91.66666667%;
  }
  .col-xxl-10 {
    width: 83.33333333%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-8 {
    width: 66.66666667%;
  }
  .col-xxl-7 {
    width: 58.33333333%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-5 {
    width: 41.66666667%;
  }
  .col-xxl-4 {
    width: 33.33333333%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-2 {
    width: 16.66666667%;
  }
  .col-xxl-1 {
    width: 8.33333333%;
  }
  .col-xxl-pull-12 {
    right: 100%;
  }
  .col-xxl-pull-11 {
    right: 91.66666667%;
  }
  .col-xxl-pull-10 {
    right: 83.33333333%;
  }
  .col-xxl-pull-9 {
    right: 75%;
  }
  .col-xxl-pull-8 {
    right: 66.66666667%;
  }
  .col-xxl-pull-7 {
    right: 58.33333333%;
  }
  .col-xxl-pull-6 {
    right: 50%;
  }
  .col-xxl-pull-5 {
    right: 41.66666667%;
  }
  .col-xxl-pull-4 {
    right: 33.33333333%;
  }
  .col-xxl-pull-3 {
    right: 25%;
  }
  .col-xxl-pull-2 {
    right: 16.66666667%;
  }
  .col-xxl-pull-1 {
    right: 8.33333333%;
  }
  .col-xxl-pull-0 {
    right: auto;
  }
  .col-xxl-push-12 {
    left: 100%;
  }
  .col-xxl-push-11 {
    left: 91.66666667%;
  }
  .col-xxl-push-10 {
    left: 83.33333333%;
  }
  .col-xxl-push-9 {
    left: 75%;
  }
  .col-xxl-push-8 {
    left: 66.66666667%;
  }
  .col-xxl-push-7 {
    left: 58.33333333%;
  }
  .col-xxl-push-6 {
    left: 50%;
  }
  .col-xxl-push-5 {
    left: 41.66666667%;
  }
  .col-xxl-push-4 {
    left: 33.33333333%;
  }
  .col-xxl-push-3 {
    left: 25%;
  }
  .col-xxl-push-2 {
    left: 16.66666667%;
  }
  .col-xxl-push-1 {
    left: 8.33333333%;
  }
  .col-xxl-push-0 {
    left: auto;
  }
  .col-xxl-offset-12 {
    margin-left: 100%;
  }
  .col-xxl-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xxl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xxl-offset-9 {
    margin-left: 75%;
  }
  .col-xxl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xxl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xxl-offset-6 {
    margin-left: 50%;
  }
  .col-xxl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xxl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xxl-offset-3 {
    margin-left: 25%;
  }
  .col-xxl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xxl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xxl-offset-0 {
    margin-left: 0;
  }
}
/*end bootstrap overide*/

/*general setup*/

:focus {
	outline: none!important;
	//will have to change this to something beautiful, until then UX will suffer :(
}

body {
	overflow-x: hidden;
}
/*
.container-fluid,
.row-fluid { height: inherit; }
*/

h1{
	font-size: @fs_h1;
	font-family: @ff_default;
	line-height: @lh_h1;
}

h2{
	font-size: @fs_h2;
	font-family: @ff_default;
	line-height: @lh_h2;
}

h3{
	font-size: @fs_h3;
	font-family: @ff_default;
	line-height: @lh_h3;
}

h4{
	font-size: @fs_h4;
	font-family: @ff_bold;
	line-height: @lh_h4;
}

h5{
	font-size: @fs_h5;
	font-family: @ff_bold;
	line-height: @lh_h5;
}

body, p, span, section, article, time, header, footer, aside, nav{
	font-family: @ff_default;
	font-size:@fs_body;
	line-height:@lh_body;

	@media only screen and (min-width:@bp_xxl){
		font-size:@fs_medium;
		line-height:@lh_medium;
	}
}

a{
  color:@col_fadeit;

  &:visited{
    color:@col_fadeit;
  }

  &:hover, &:focus{
    color:@col_fadeit_c;
  }
}
/*end general setup*/

/*fadeit styles*/
.main-container{
	height:100%;
}

.news-fluid{
	height:@news_section_height;
	background-color: @col_last_green_gray;
	margin-left:-15px!important;
	margin-right:-15px!important;
	.dropshadow( inset 0px -4px 15px -2px rgba(0, 0, 0, 0.3));
	.animate(@animation_time_vlong, @transition_default);
}

.fadeit-logo-link{
	.animate(@animation_time_long, @transition_default);

	.fadeit-logo{
		padding:25px 0 25px 0;
		width:@logo_width_full;
	}
}

.hidden-logo-link{
	opacity:0;
	z-index:-1;
	.animate(@animation_time_long, @transition_default);
}

.fadeit-logo-small{
	.ta-c();
	width:80px;
	margin-top:30px;
	margin-left:-200px;
	opacity:0;
	.animate(@animation_time_short, @transition_default);
}

.visibile-fixed-logo{
	opacity: 1;
	margin-left:0;
	.animate(@animation_time_short, @transition_default);
}

.logo-news-container{
	.rel();
	margin-top:@header_top;
}

.transparent-whitebar{
	.fix();
	width: 100%;
	height: @projects_offset + @news_section_height;
	margin-top:-@news_section_height;
	left: 0;
	background: rgba(255, 255, 255, 0.8);
	border-bottom: @bst @col_light_gray;
	z-index: -1; //otherwise it will be on top of the full logo
	.animate(@animation_time_short, @transition_default);
}

#news-link{
	.abs();
	bottom:0;
	right:@header_news_text_padding + @project_fluid_padding_right;
	line-height:@projects_offset;
	.animate(@animation_time_short, @transition_default);
}

.hidden-whitebar{
	margin-top:-@projects_offset - @news_section_height;
	.animate(@animation_time_short, @transition_default);
}

.time-text-container{
	color:@w;
	max-width:@max_p_width;
	.fr();
	.ta-r();
	padding-right: @header_news_text_padding;
	margin-right:@project_fluid_padding_right;
	border-right:@bst @w_c;
	height:100%;
	opacity: 1;
	.animate(@animation_time_short, @transition_default);


	.news-relative-time{
		font-family: @ff_bold;
		.block();
		.ta-r();

		&:before{
			content: "\f099";
			font-family: @fa;
			margin-right:5px;
			.rel();
			top:1px;
		}
	}

	.news-text{
		font-size:@fs_small;
		.ta-j();
		.abs();
		bottom:0;
		right:0;
		padding-right: @header_news_text_padding + @project_fluid_padding_right;
		max-width: @max_tweet_width;
		width:35%;

		a{
			color:@w_c;
		}
	}
}

.news-fade-in-add, .news-fade-in-active{
	opacity: 0;
	margin-right:-1000px;
	.animate(@animation_time_medium, @transition_default);
}

.news-fade-in-remove {
  opacity: 1;
	.animate(@animation_time_medium, @transition_default);
}

.center-dot{
	.abs();
	.block();
	right:0;
	margin-right:15px;
	margin-bottom:15px;
	width:@dot_width_height;
	height:@dot_width_height;
	background: @col_light_green;
	border:@dot_border solid @w;
	.border-radius(50%);
	z-index:9999;
	.animate(@animation_time_short, @transition_default);

	&:hover{
		.scale(1.2);
		.animate(@animation_time_short, @transition_default);
	}
}

.project-fluid, .secondary-page-row{
	height:auto;
	padding-left:@sidebar_left_width;
	padding-top:@projects_offset + 30px;
	padding-bottom:100px;
	padding-right:@project_fluid_padding_right;
}

.project-preview-container{
	visibility:hidden;
	padding:0!important;
	overflow: hidden;
	.inline-block();

	.project-preview{
		.rel();
		.block();
		height:100%;
		color:@col_dark_gray;

		&:hover{
			color:@col_dark_gray;
		}

		.project-cover, .project-cover-used {
			.rel();
			max-width: 100%;
		}

		.project-cover-used{
			.animate(@animation_time_short_w_delay, @transition_default);
		}

		.main-cover{
			max-width: none;
			width: 100%;
		}

		.project-tags{
			.abs();
			max-height: 47px;
			left:0;
			width:100%;
			.ta-c();
			opacity: 0;
			bottom:-30px;
			background:@w;
			border-bottom: @bst @col_light_gray;
			.animate(@animation_time_short, @transition_default);

			.a-project-tag{
				.inline-block();
				margin-bottom:1px;
				padding:10px;
			}
		}
	}
}

.project-size-sm, .project-size-md, .project-size-lg{
	&:hover{
		.animate(@animation_time_short, @transition_default);
	}
}

.project-size-lg{
	&:hover{
		.project-cover-used{
			.translateY(-50px);
		}
	}
}

.project-size-md{
	&:hover{
		.project-cover-used{
			.translateY(-50px);
		}
	}
}

.project-size-sm{
	&:hover{
		.project-cover-used{
			.translateY(-50px);
		}
	}
}

.project-size-md, .project-size-lg{
	&:hover{
		.project-tags{
			bottom:10px;
			opacity: 1;
			.animate(@animation_time_short_w_delay, @transition_default);
		}
	}
}

.project-size-md{
	.a-project-tag{
		font-size:@fs_body;
	}
}

.project-size-sm{
	.a-project-tag{
		padding:5px;
		font-size:@fs_body;
	}

	&:hover{
		.project-tags{
			bottom:5px;
			opacity: 1;
			.animate(@animation_time_short_w_delay, @transition_default);
		}
	}
}

.dummy-project{
	//debug-> background: @col_light_gray;

	.project-preview{
		height:100%;
		width:100%;
		opacity:0;
	}
}

.clear-preview{
	clear:both;
}

.dot-fluid{
	.rel();
	height:100px;
	top:-115px;
	margin-left:-15px!important;
	margin-right:-15px!important;
}

.footer-fluid{
	width:100%;
	padding:10px 30px 10px 30px;
	.ta-r();
	font-size:@fs_small;
	color:@col_fadeit_gray;
}

.left-sidebar{
	width:@sidebar_left_width;
	.ta-c();
	.inline-block();
	.fl();
}

.main-menu{
	.fix();
	top:0;
	z-index:1;
	height:100%;

	.menu-link-list{
		.abs();
		width:100%;
		bottom:30px;
		padding-left:0;
		list-style-type: none;

		.menu-link-item{
			line-height:40px;
			.rel();
		}
	}
}

//menu anchor should be styled outside the ul/li parent to have effect on single links outside the main menu
.menu-anchor{
	text-transform: lowercase;
	font-size:@fs_h5;
	color:@col_dark_gray;
	.animate(@animation_time_short, @transition_default);

	&:visited, &:focus{
		text-decoration: none;
	}

  &:visited{
    color:@col_dark_gray;
  }

  &:focus{
    color:@col_dark_gray;
  }

  &:hover{
    color:@col_fadeit;
    text-decoration: none;
    .animate(@animation_time_short, @transition_default);
  }
}

.menu-Technologies{
  .menu-anchor{
    &:focus, &:hover{
      color:@col_dark_gray;
    }

    &:after{
      background:@col_dark_gray;
    }
  }
}

.activeMenu{
	.menu-anchor{
		color:@col_last_green_gray;
	}
}

.main-menu-anchor{
	&:after{
		content:'';
		height:1px;
		width:0px;
		background:@col_fadeit;
		.abs();
		left:0;
		top:50%;
		margin-top:-1px;
		.animate(@animation_time_short, @transition_default);
	}

	&:hover{
		&:after{
			width:20%;
			.animate(@animation_time_short, @transition_default);
		}
	}
}

.activeMenu{
	.main-menu-anchor{
		&:after{
			content:'';
			height:1px;
			width:20%;
			background:@col_last_green_gray;
			.abs();
			left:0;
			top:50%;
			margin-top:-1px;
		}
	}
}

.secondary-page-container{
	padding:30px;
}

.secondary-page-row{
	padding-left:0;
	padding-right:0;
	margin-right:0;
	margin-left:0;
}

.contact-fluid{
  .contact-block{
    padding: 35px;
  }
}

.services-fluid{
  .outstanding-container{
    background:@ws;
    //border-color:@col_text_gray;

    .default-inner-container{
      .regular-text{
        //color:@col_text_gray;
      }
    }
  }

  .default-inner-container{
    .service-one{
      color:@col_fadeit;
    }

    .service-two{
      color:@col_light_green;
    }

    .service-three{
      color:@col_dark_green;
    }

    .service-four{
      color:@col_last_green;
    }

    .row-fluid{
      &:nth-child(odd){
        .rounded-border{
          .fr();
        }
      }

      &:nth-child(even){
        .rounded-border{
          .fl();
        }
      }

      &:last-child{
        .rounded-border{
          float:none;
        }
      }
    }
  }
}

.binary{
  .inline-block();
  overflow: hidden;
  .ta-j();
}

.default-inner-container{
	padding-left:@sidebar_left_width;
	max-width:1300px;

	.row-fluid{
		width:100%;
		display: table;
		table-layout:fixed; //this keeps the grid dimensions for cells instead of the cells getting their size from the content
		visibility: hidden;
		margin:100px 0 30px 0;
		padding-bottom:50px;
		border-bottom:1px solid @ws;

		[class*="col-"] {
			float: none;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.final-row{
		border-bottom:none!important;
	}

	.visible-row{
		visibility: visible;
	}

  .project-intro-fluid{
    margin-bottom:70px;
    padding-bottom:0px;
  }

  .cover-fluid{
    border-bottom:none;
  }

  .social-fluid{
    color:@col_text_gray;
    //background:@ws;
    //.ta-c();

    .social-block{
      //background:@ws;
      .ta-c();

      .icons-container{
        //margin-left:60px;
        color:@col_text_gray;
        .animate(@animation_time_short, @transition_default);
            color:@b;

        &:hover{
          .animate(@animation_time_short_w_delay, @transition_default);

          .social-link{
            .animate(@animation_time_short_w_delay, @transition_default);
            color:@col_fadeit_c;
          }
        }

        .social-link{
          .inline-block();
          .border-box();
          //background: #EDEDED;
          color: @col_text_gray;
          width:45px;
          font-size: 28px;
          line-height: 33px;
          .animate(@animation_time_short, @transition_default);

          &:hover{
            //background: @col_text_gray;
            color:@col_fadeit;
            .animate(@animation_time_short, @transition_default);
          }
        }
      }
    }

    .regular-text{
      color:@col_text_gray;
    }
  }

	@media only screen and (min-width:@bp_xxl){
		padding-left:0;
		max-width:1120px;
		margin:0 auto;
	}
}

.outstanding-container{
	visibility: hidden;
	//background:#EDEDED;
  background:@ws;
	color:@col_text_gray;
	//border-bottom: 10px solid rgba(210, 210, 210, 1);
  border-bottom:8px solid #EAEAEA;
	margin-left:-30px;
	margin-right:-30px;
	margin-top: -60px;
	padding:100px 150px 60px 40px;
	margin-bottom:0;

	.regular-text{
		margin-top:20px;
    font-family: @ff_default;
	}

  .bold-text{
    font-family: @ff_bold;
  }

	img{
		margin-left:50px;
		.fr();
	}

	@media only screen and (min-width:@bp_xxl){
		padding-right:90px;

		.default-inner-container{
			padding-left:30px;
		}
	}
}

.secondary-page-title{
	.abs();
	bottom:0;
	left:0;
	margin-left:-300px;
	width:@sidebar_left_width;
	.ta-c();
	z-index:10;
	.animate(@animation_time_short_w_delay, @transition_default);

	.page-title{
    text-transform: capitalize;
		line-height:@projects_offset;
		margin:0;
	}
}

.visible-secondary-page-title{
	margin-left:0;
	.animate(@animation_time_short_w_delay, @transition_default);
}

.image-container{
	vertical-align: middle;

  .rounded-border{
    .inline-block();
    .border-radius(50%);
    border: 1px solid #EAEAEA;
  }

  .dot-one{
    border-color:fade(@col_fadeit, 35%);
  }

  .dot-two{
    border-color:fade(@col_light_green, 35%);
  }

  .dot-three{
    border-color:fade(@col_dark_green, 35%);
  }

  .dot-four{
    border-color:fade(@col_last_green, 35%);
  }

	img{
		max-width: 100%;
	}
}

.regular-text{
	margin-bottom:30px;
	color: @col_text_gray;
  font-family: @ff_light;
}

.regular-title{
	margin-bottom: 20px;
}

.secondary-page-logo{
	width:150px;
	margin-bottom:50px;
}

.img-heart{
	.ta-c();

	img{
		width:80px;
	}
}

.icon-image{
	border-bottom: 1px solid rgb(160, 157, 157);
	.border-radius(50%);
}

.a-tag{
  margin-right:20px;
}

.single-project-cover{
  img{
    max-width:100%;
  }
}

.single-project-intro{
  padding-left:35px;
  padding-right:35px;

  .regular-text{
    font-family: @ff_light;
    font-size: @fs_body;
  }
}

.project-details{
  visibility: hidden;
  margin: -65px 0 0 15px;
  padding: 30px 35px 20px 35px;

  .paragraph-fluid{
    margin:0;
    padding:0;
    border-bottom:none;

    h3{
      padding:0;
    }
  }
}

.project-screens{
  padding-left:15px;

  .project-screen{
    visibility: hidden;
    margin:30px 0 30px 0;

    &:first-child{
      margin-top:0px;
    }

    &:nth-child(odd){
      img{
        .fl();
        border-right:5px solid;
      }

      figcaption{
        .fr();
      }
    }

    &:nth-child(even){
      img{
        .fr();
        border-left:5px solid;
      }

      figcaption{
        .fl();
      }
    }

    img{
      border: 1px solid @ws;
      width:70%;
      max-width:100%;
    }

    figcaption{
      padding:35px;
      width:30%;
    }
  }
}

.project-extras{
  margin-top:20px;
}
/*end fadeit styles*/

/*outstanding*/
.transparent-always{
	opacity: 0!important;
	overflow: hidden!important;
}

.hidden-always{
	.hide-i();
}

.shown-always{
	.show-i();
}
/*end outstanding*/

/*browser overides*/
::selection {
  background: @col_fadeit;
  opacity: 0;
  color:white;
}
::-moz-selection {
  background: @col_fadeit;
  opacity: 0;
  color:white;
}
/*end browser overides*/