<section class="container-fluid main-container secondary-page-container">
  <section class="row-fluid secondary-page-row apply-fluid">

    <section class="default-inner-container">
      <section class="row-fluid visible-row apply-row">
        <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5">
          <h1 class="regular-title" translate>APPLY_WELCOME</h1>
          <p class="regular-text" translate>
          APPLY_TEXT_1
          </p>

          <h3 class="regular-title apply-space" translate>APPLY_HEADING_1</h3>
          <p class="regular-text" translate translate-value-toolbox="<a href='/toolbox'>{{'NAV_TOOLBOX' | translate}}</a>">
          APPLY_TEXT_2
          </p>

          <h3 class="regular-title" translate>APPLY_HEADING_2</h3>
          <p class="regular-text" translate>
          APPLY_TEXT_3
          </p>
        </section>
      </section>

      <section class="row-fluid visible-row apply-row">
        <section class="col-xs-24 col-md-22 col-md-offset-1 col-lg-18 col-lg-offset-3 col-xl-14 col-xl-offset-5">
          <h5 translate>
            APPLY_HEADING_3
          </h5>
        </section>

        <section id="formWrapper" ng-controller="ApplyController" class="col-xs-24 col-md-11 col-md-offset-1 col-lg-9 col-lg-offset-3 col-xl-7 col-xl-offset-5">
          <div class="alert alert-danger" ng-if="vm.applyError" translate>
            {{vm.applyError}}
          </div>

          <form id="application-form" name="applyForm" ng-submit="vm.submitApplyForm(vm.application)" ng-show="!submitting">
            <div class="form-group form-item">
              <label for="edit-submitted-name" translate>APPLY_NAME</label>
              <input class="form-control form-text" ng-model="vm.application.name" type="text" name="name" required>
            </div>

            <div ng-messages="applyForm.name.$error" ng-if="applyForm.name.$dirty">
              <div class="alert alert-warning" ng-message="required" translate>APPLY_NAME_REQUIRED</div>
            </div>

            <div class="form-group form-item">
              <label for="edit-submitted-email" translate>APPLY_EMAIL</label>
              <input class="email form-control form-text form-email" id="edit-submitted-email" ng-model="vm.application.email" type="email" name="email" required>
            </div>

            <div ng-messages="applyForm.email.$error" ng-if="applyForm.email.$dirty">
              <div class="alert alert-warning" ng-message="required" translate>APPLY_EMAIL_REQUIRED</div>

              <div class="alert alert-warning" ng-message="email" translate>APPLY_EMAIL_INVALID</div>
            </div>

            <div class="form-group form-item">
              <label for="edit-submitted-education" translate>APPLY_EDUCATION</label>
              <input class="form-control form-text" id="edit-submitted-education" ng-model="vm.application.education" type="text">
            </div>
            <div id="edit-submitted-cv-ajax-wrapper">
              <div class="form-group clearfix form-item">
                <label for="edit-submitted-cv-upload" translate>APPLY_CV</label>
                <div id="edit-submitted-cv" class="form-control form-managed-file">
                  <input accept="application/pdf,text/html,text/plain" id="cv-upload" size="22" class="form-file" type="file">
                </div>
                <div class="description" translate>APPLY_FILES_INFO</div>
              </div>
            </div>

            <div class="form-group form-item">
              <label for="edit-submitted-thoughts" translate>APPLY_MESSAGE</label>
              <div class="form-textarea-wrapper resizable">
                <textarea ng-model="vm.application.message" placeholder="Type a short introduction" class="form-control form-textarea" id="edit-submitted-thoughts" cols="60" rows="5"></textarea></div>
            </div>

            <div class="form-actions">
              <button class="webform-submit btn btn-primary button-primary form-submit" type="submit" ng-disabled="applyForm.$invalid" translate>APPLY_SUBMIT</button>
            </div>
          </form>

          <section ng-show="submitting">
            <h3><span translate>APPLY_LOAD_TITLE</span> <i class='fa fa-cog fa-spin'></i></h3>
            <p translate>APPLY_LOAD_DESC</p>
          </section>
        </section>
      </section>

    </section>
  </section>
</section>
